doctype html
html
  head
    title= title

    
    script(src="/javascripts/designerUI.js")

    link(rel='stylesheet', href='/stylesheets/designerUI.css')
    script src="https://code.jquery.com/jquery-3.6.0.min.js"

body
   
div#canvas-wrapper
  canvas#canvas 
  div#overlay-itemselector Choose item type
    