extends layout


//https://medium.com/@dtkatz/3-ways-to-fix-the-cors-error-and-how-access-control-allow-origin-works-d97d55946d9

block content



  
  h1= title

  p Welcome to #{title}
  div 
    canvas id="canvas"
p Niclas

script(src="/javascripts/zergrush.js")